#fireworks {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -999;
    width: 100%;
    height: 100%;
    .pointer {
        --size: 30px;
        $color: #f73859;
        pointer-events: none;
        width: var(--size);
        height: var(--size);
        background: rgba($color, 0.2);
        position: fixed;
        border-radius: 50%;
        transform: translate3d(-50%, -50%, 0) scale(0);
        transition: transform 0.3s;
        border: 2px solid rgba($color, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        &:before {
            content: "";
            width: 80%;
            height: 80%;
            position: absolute;
            display: block;
            background: rgba(20, 24, 41, 1);
            border-radius: 50%;
            transition: background 0.5s, box-shadow 0.5s;
        }
        .is-pressed & {
            transform: translate3d(-50%, -50%, 0) scale(1);
        }
        .is-longpress & {
            animation: wobble 0.2s infinite alternate;
            &:before {
                background: rgba(#faf15d, 1);
                box-shadow: 0 0 5px rgba(#faf15d, 0.5);
                animation: wobble2 0.2s infinite alternate;
            }
        }
    }
    @keyframes wobble {
        to {
            transform: translate3d(-50%, -50%, 0) scale(0.5);
        }
    }
    @keyframes wobble2 {
        to {
            transform: scale(0.5);
        }
    }
}